html {
  --top-margin: 32px;
}

.container {
  margin-top: var(--top-margin);
}

.tab__container {
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0 auto;
  outline: 1px solid #E0E0E0;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
  background: #FFF no-repeat;
  background-image:
          -webkit-linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0)),
          -webkit-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image:
          -o-linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0)),
          -o-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-image:
          linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0)),
          linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.2));
  background-position: 0 0, 100% 0;
  background-size: 1rem 100%;
}

.tab__container::before,
.tab__container::after {
  content: '';
  position: relative;
  z-index: -1;
  display: block;
  min-width: 2rem;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.tab__container::before {
  max-width: 2rem;
  background: -webkit-gradient(linear,left top, right top,from(#FFF),color-stop(50%, #FFF),to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,#FFF,#FFF 50%,rgba(255,255,255,0));
  background: -o-linear-gradient(left,#FFF,#FFF 50%,rgba(255,255,255,0));
  background: linear-gradient(to right,#FFF,#FFF 50%,rgba(255,255,255,0));
}

.tab__container::after {
  background: -webkit-gradient(linear,left top, right top,from(rgba(255,255,255,0)),color-stop(50%, #FFF),to(#FFF));
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),#FFF 50%,#FFF);
  background: -o-linear-gradient(left,rgba(255,255,255,0),#FFF 50%,#FFF);
  background: linear-gradient(to right,rgba(255,255,255,0),#FFF 50%,#FFF);
}

.tab__container::-webkit-scrollbar {
  display: none;
}

.tab__list {
  display: flex;
  margin: 0;
  padding: 8px 0;


  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.tab__item {
  white-space: nowrap;
  list-style: none;
  padding: 8px 24px;
  border-radius: 2px;
  line-height: 140%;
  transition-duration: 200ms;
  cursor: pointer;
}

.tab__item:hover {
  background-color: #E0E0E0;
}

.tab__link {
  text-decoration: none;
  color: #666666;
}

.tab__item__active {
  background-color: #CFE5FF;
  font-weight: 700;
  line-height: 140%;
}

.tab__item__active,
.tab__link__active {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #527AAA;
}

.tab__text {
  margin: 20px;
}
