html {
  --top-margin: 10px;
}

.tab {
  margin-top: var(--top-margin);
}

.tab__container {
  overflow-x: scroll;
  box-shadow: inset 0 -1px 0 #E0E0E0, inset 0 1px 0 #E0E0E0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tab__container--start-shadow::before {
  content: '';
  background: linear-gradient(90deg, rgba(196, 196, 196, 0.3) 0%, rgba(242, 242, 242, 0) 88.1%);
  position: absolute;
  width: 42px;
  height: 53px;
}

.tab__container--end-shadow::after {
  content: '';
  background: linear-gradient(90deg, rgba(196, 196, 196, 0.3) 0%, rgba(242, 242, 242, 0) 88.1%);
  position: absolute;
  transform: rotate(-180deg);
  top: var(--top-margin);
  right: 0;
  width: 42px;
  height: 53px;
}

.tab__container::-webkit-scrollbar {
  display: none;
}

.tab__list {
  display: flex;
  margin: 8px 0;
  padding: 0;
}

.tab__item {
  padding: 8px 24px;
  border-radius: 2px;
  list-style: none;
  white-space: nowrap;
  color: #666666;
  line-height: 140%;
  transition-duration: 200ms;
}

.tab__item:hover {
  background-color: #E0E0E0;
}

.tab__item__active {
  padding: 8px 24px;
  border-radius: 2px;
  background-color: #CFE5FF;
  color: #527AAA;
  font-weight: 700;
  line-height: 140%;
}

.tab__item__active,
.tab__link__active {
  position: sticky;
  left: 0;
  right: 0;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.tab__text {
  margin: 20px;
}
